force-app/main/default/flows/Replace_Primary_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Replace_Primary_Quote_Apex_Class</name>
        <label>Replace Primary Quote Apex Class</label>
        <locationX>1891</locationX>
        <locationY>116</locationY>
        <actionName>ReplacePrimaryQuote</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Primary_Quote_Changed</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>quoteID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>NO_Choice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>YES_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Replace_Primary_Quote_Decision</name>
        <label>Replace Primary Quote Decision</label>
        <locationX>1626</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>No_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_with_to_continue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YES_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Replace_Primary_Quote_Apex_Class</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Triggering_Quote_is_Primary</name>
        <label>Triggering Quote is Primary</label>
        <locationX>998</locationX>
        <locationY>245</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Primary_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is NOT Primary</defaultConnectorLabel>
        <rules>
            <name>Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Triggering_Quote.Primary_Quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_is_Primary</targetReference>
            </connector>
            <label>Is Primary</label>
        </rules>
    </decisions>
    <interviewLabel>Replace Primary Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Replace Primary Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Existing_Primary_Quote</name>
        <label>Get Existing Primary Quote</label>
        <locationX>1271</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Replace_Primary_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Triggering_Quote.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Quote</name>
        <label>Get Triggering Quote</label>
        <locationX>845</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Triggering_Quote_is_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>No_Changes</name>
        <label>No Changes</label>
        <locationX>1885</locationX>
        <locationY>335</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Changes_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(250, 4, 4); background-color: rgb(255, 255, 255);&quot;&gt;No changes have been made to the primary quote&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Primary_Quote_Changed</name>
        <label>Primary Quote Changed</label>
        <locationX>2058</locationX>
        <locationY>116</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Primary_Quote_Changed_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(250, 4, 4); background-color: rgb(255, 255, 255);&quot;&gt;The primary quote has been changed&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quote_is_Primary</name>
        <label>Quote is Primary</label>
        <locationX>1248</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Quote_Is_Same_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 1, 1);&quot;&gt;{!Get_Triggering_Quote.Name} is currently the primary quote. No further action is required.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Replace_Primary_Quote</name>
        <label>Replace Primary Quote</label>
        <locationX>1446</locationX>
        <locationY>238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Replace_Primary_Quote_Decision</targetReference>
        </connector>
        <fields>
            <name>Verification</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(250, 1, 1);&quot;&gt;This process will replace the existing primary quote with a new primary quote.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Current Primary Quote: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Existing_Primary_Quote.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;New Primary Quote: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Triggering_Quote.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_with_to_continue</name>
            <choiceReferences>YES_Choice</choiceReferences>
            <choiceReferences>NO_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you with to continue?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>714</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Triggering_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
